.lastpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.btn {
    margin-top: 20px;
}

.card {
    justify-content: center;
    display: "block";
    transition-duration: "0.3s";
    height: "45vw";
    width: '25rem';
};